<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="{{teamNickName}} | Scoultimate">
<meta property="og:description" content="View team information for {{teamNickName}} on Scoultimate">
<meta property="og:image" content="http://res.cloudinary.com/dk6fgyqvh/image/upload/v1594072427/{{teamNumber}}">
{{!-- <meta property="og:url" content="http://euro-travel-example.com/index.htm%22%3E"> --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{teamNickName}} | Scoultimate</title>
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>
    <h2>{{teamNickName}}</h2>
    <h5>{{teamName}}</h5>
</body>
</html>