<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- META --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{teamData.nickname}} (Team {{teamNumber}})">
    {{#if teamData.city}} <meta property="og:description" content="FIRST Robotics Team {{teamNumber}} from {{teamData.location}} on Scoultimate"> {{else}} <meta property="og:description" content="FIRST Robotics Team {{teamNumber}} on Scoultimate">{{/if}}
    {{#if teamData.picture}} <meta property="og:image" content="http://res.cloudinary.com/dk6fgyqvh/image/upload/v1594072427/{{teamNumber}}"> {{else}} <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/frc-scouting-epicnd.appspot.com/o/scoultimate-logo.png?alt=media&token=e57ad6be-e082-4bcc-8d01-19a634883293"> {{/if}}
    <meta property="og:type" content="sports_team">
    <meta property="og:url" content="https://scoultimatetestsite.herokuapp.com/team/{{teamNumber}}">
    <meta property="og:site_name" content="Scoultimate">
    <meta property="og:locality" content="{{teamData.city}}">
    <meta property="og:region" content="{{teamData.state_prov}}">
    <meta property="og:country-name" content="{{teamData.country}}">
    {{!-- Material Components --}}
    
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script defer src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    {{!-- General CSS Imports --}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/common.css">

    <title>{{teamData.nickname}} | Scoultimate</title>

    {{!-- General JS Imports --}}

    <script defer src="https://www.googleoptimize.com/optimize.js?id=OPT-WPS9HFR"></script>
    <script defer src="../js/materiallib.js"></script>

    {{!-- FONTS --}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">

</head>
<body data-barba="wrapper">
    <ul class="transition">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
   <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title" src="signin.html">Dashboard</h3>
      <h6 class="mdc-drawer__subtitle trigger">{{#if userData.email}} {{userData.email}} {{else}} <a href="javascript:void(0)"  class="link signin dashboard-signin" id="dashboard-signin">Sign In</a>{{/if}}</h6>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated dashboard-account" href="#" tabindex="0" aria-current="page">
          <i class="material-icons mdc-list-item__graphic avatar avatar2" aria-hidden="true" src="signin.html">{{#if userData.picture}}<img class="pfp" src={{userData.picture}}> {{else}} account_circle{{/if}}</i>
          <span class="mdc-list-item__text dashboard-account" id="dashboard-account" href="signin.html">My Account</span>
        </a>
        <a class="mdc-list-item" href="#" tabindex="0">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">all_out</i>
          <span class="mdc-list-item__text">My Team</span>
        </a>
        <a class="mdc-list-item" href="#" tabindex="0">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">search</i>
          <span class="mdc-list-item__text">Search</span>
        </a>
        <a class="mdc-list-item" href="#" tabindex="0">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">notes</i>
          <span class="mdc-list-item__text">Scouting</span>
        </a>
        <a class="mdc-list-item" href="#" tabindex="0">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">miscellaneous_services</i>
          <span class="mdc-list-item__text">Other Services</span>
        </a>
        <a class="mdc-list-item" href="#" tabindex="0">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">info</i>
          <span class="mdc-list-item__text">Info</span>
        </a>
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>

  <div class="mdc-drawer-app-content">

    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" id="headerC">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
          <span class="mdc-top-app-bar__title teamNumber">{{teamNumber}}</span>
        </section>
      </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust">

      
  </div>
    <main data-barba="container" data-barba-namespace="team" style="min-height: calc(100vh - 64px);
    width: 100vw;">
      {{!-- PAGE SPECIFIC CSS COMPONENTS --}}
      <link rel="stylesheet" href="../css/team2.css">
      

      <div class="top-wrapper">
        <div class="top-left-wrapper">
          <div class="teamInfoContainer"> 
            <a class="teamName">{{teamData.nickname}}</a>
            <a class="teamLocation">{{teamData.location}}</a>
            <a class="teamString">13 Years ● 3 Awards ● {{teamData.elo}} Elo</a>
          </div>
        </div>
        <div class="top-right-wrapper">
          {{#if teamData.picture}}<div class="team-logo-wrap"><div class="team-logo-wrap-2"><div class="gradient-wrap" ><img class="team-logo-img" src="data:image/png;base64, {{teamData.picture}}"/></div></div></div></div> {{/if}}
          <a class="eventYear2">2019</a>
        </div>
      </div>
      <div class="bottom-wrapper">
        <div class="bottom-left-wrapper">
          <div class="bottom-left-top-wrapper">
            <a class="awdsbox-ttl">Team Overview</a>
          </div>
          <div class="bottom-left-middle-wrapper">
            <a class="awdsbox-ttl">Trophy Case</a>
          </div>
          <div class="bottom-left-bottom-wrapper">
            <a class="awdsbox-ttl">Similar Teams</a>
          </div>
        </div>
        <div class="bottom-right-wrapper">
        {{#each teamData.events}}
          <div class="card-event-wrapper">
            <div class="card-event">
              <a class="eventYear">{{this.year}}</a>
              <div class="eventInfo-wrapper">
                <a class="eventName">{{this.name}}</a>
                <a class="eventLocation">{{this.city}}, {{this.state_prov}}</a>
                <a class="eventDates">{{this.dateString}}</a>
              </div>
            </div>
          </div>
{{/each}}
</div>
          {{!-- <div class="card-event-wrapper">
            <div class="card-event"></div>
          </div>
          <div class="card-event-wrapper">
            <div class="card-event"></div>
          </div> --}}
        </div>

                  {{!-- <div class="bcgrd"> --}}
              
        
        {{!-- <h3 style="color: white;">{{teamData.awards.length}} Awards ● {{teamData.years.length}} Years ● 1880 elo (top 5%)</h3> --}}
        
                        {{!-- <div class="gradient-wrap teamImage" ><img class="team-logo-img" src="data:image/png;base64, {{teamData.picture}}"/></div> --}}








      
<script>    
  
    </script>
</main>


  {{!-- NEED THESE IMPORTS EVERY TIME (ALONGSIDE MDC) --}}
  <script defer src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <script defer src="../js/transitions.js"></script>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>